[package]
name = "broker"
version.workspace = true
edition.workspace = true

[dependencies]
domain = { path = "../domain" }
config = { path = "../config" }
tracing = "0.1"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }

